<div class="compare_image_with_text page-width shopify-page-section">
    <div class="compare-image-group ipad-show">
        <figure class="cd-image-container">
            {% if section.settings.after_image != blank %}
                <img src="{{ section.settings.after_image | image_url: width: 700 }}" alt="Modified Image">
            {% endif %}
            <span class="cd-image-label" data-type="modified"></span>
            <div class="cd-resize-img"> <!-- the resizable image on top -->
                {% if section.settings.before_image != blank %}
                    <img src="{{ section.settings.before_image | image_url: width: 700 }}" alt="Original Image">
                {% endif %}
                <span class="cd-image-label" data-type="original"></span>
            </div>
            <span class="cd-handle"></span>
        </figure>
    </div>
    <div class="text-group">
        <h2 class="image-with-text__heading"> {{ section.settings.heading | escape }} </h2>
        <p class="image-with-text__text image-with-text__text--caption" {{ section.shopify_attributes }}>{{ section.settings.caption | escape }}</p>
        <div class="image-with-text__text rte " {{ section.shopify_attributes }}><p>{{ section.settings.text }}</p></div>
        <div class="compare-button">
            {%- if section.settings.button_label != blank -%}
                <a href="{{ section.settings.button_link }}" {{ section.shopify_attributes }} class="btn">
                    {{ section.settings.button_label | escape }}
                </a>
            {%- endif -%}         
        </div>    
    </div>
    <div class="compare-image-group desktop-show">
        <figure class="cd-image-container">
            {% if section.settings.after_image != blank %}
                <img src="{{ section.settings.after_image | image_url: width: 700 }}" alt="Modified Image">
            {% endif %}
            <span class="cd-image-label" data-type="modified"></span>
            <div class="cd-resize-img"> <!-- the resizable image on top -->
                {% if section.settings.before_image != blank %}
                    <img src="{{ section.settings.before_image | image_url: width: 700 }}" alt="Original Image">
                {% endif %}
                <span class="cd-image-label" data-type="original"></span>
            </div>
            <span class="cd-handle"></span>
        </figure>
    </div>
</div>


{% schema %}
{
    "name": "Compare Image With Text",
    "class": "section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "caption",
            "label": "Caption"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "text"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Label"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "Button Label"
        },
        {
            "type": "image_picker",
            "id": "before_image",
            "label": "Before Image"
        },
        {
            "type": "image_picker",
            "id": "after_image",
            "label": "After Image"
        }
    ],
    "presets": [
        {
        "name": "Compare Image With Text"
        }
    ]
}
{% endschema %}