<div class="page-width shopify-page-section">
    {% if section.settings.heading != blank %}
        <h2 class="section-heading">{{ section.settings.heading }}</h2>
    {% endif %}
    <div class="section-content">
        <div class="image-group {% if section.settings.image_position == 'image_right'%}ipad-show{% else %}desktop-show{% endif %}">
            <figure class="cd-image-container">
                {% if section.settings.image != blank %}
                    <img src="{{ section.settings.image | image_url: width: 700 }}">
                {% endif %}
            </figure>
        </div>
        <div class="text-group {% if section.settings.space_line == 'yes'%}space-line{% endif %} {{ section.settings.image_position }}">
            <h2 class="image-with-text__heading"> {{ section.settings.title | escape }} </h2>
            {%- for block in section.blocks -%}
                <div class="image-with-text__text rte " {{ block.shopify_attributes }}><span class="check-mark"></span><p>{{ block.settings.text }}</p></div>
            {% endfor %}  
        </div>
        <div class="image-group {% if section.settings.image_position == 'image_right'%}desktop-show{% else %}ipad-show{% endif %}">
            <figure class="cd-image-container">
                {% if section.settings.image != blank %}
                    <img src="{{ section.settings.image | image_url: width: 700 }}">
                {% endif %}
            </figure>
        </div>
    </div>
    <div class="button">
        {%- if section.settings.button_label != blank -%}
            <a href="{{ section.settings.button_link }}" {{ section.shopify_attributes }} class="btn">
                {{ section.settings.button_label | escape }}
            </a>
        {%- endif -%}         
    </div>  
</div>


{% schema %}
{
    "name": "Image With CheckText",
    "class": "image_with_checktext",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
          "type": "select",
          "id": "image_position",
            "options": [
                {
                "value": "image_right",
                "label": "Image Right"
                },
                {
                "value": "image_left",
                "label": "Image Left"
                }
            ],
          "default": "image_right",
          "label": "Image Position"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "Button Label"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        }
    ],
    "blocks": [
        {
            "name": "text",
            "type": "text",
            "settings": [
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Description"
                }
            ]
        }
    ],
    "presets": [
        {
        "name": "Image With CheckText"
        }
    ]
}
{% endschema %}