<div class="shopify-page-section page-width">
    <div class="swiper mySwiper page-container">
        <div class="swiper-wrapper">
            {% for block in section.blocks %}
                <div class="swiper-slide">
                    <div class="slide-image">
                        {% if block.settings.image != blank %}
                            <img src="{{ block.settings.image | image_url: width: 700 }}">
                        {% else %}
                        <img src="{{ 'empty.png' | asset_url }}">
                        {% endif %}
                    </div>
                    <div class="slide-right-text">
                        <div class="slide_subtitle">
                            {% if block.settings.subtitle != blank %}
                                <span>{{ block.settings.subtitle }}</span>
                            {% endif %}
                        </div>
                        {% if block.settings.heading != blank %}
                            <h2 class="slide-heading">{{ block.settings.heading }}</h2>
                        {% endif %}
                        <div class="slide_label">
                            <!-- {% if block.settings.label != blank %}
                                <span>{{ block.settings.label }}</span>
                            {% endif %} -->
                            <span>{{ block.settings.product.price | money }}</span>
                        </div>
                        <div class="slide_button">
                            {% if block.settings.button_label != blank %}
                                <a href="{{ block.settings.product.url }}" class="btn">{{ block.settings.button_label }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="swiper-button-next">{% render 'arrow-right-svg' %}</div>
    <div class="swiper-button-prev">{% render 'arrow-left-svg' %}</div>
</div>

{% schema %}
{
  "name": "Image With Text Slide",
  "class": "image_with_text_slide",
  "blocks": [
    {
        "type": "image_with_text_slide",
        "name": "Image With Text Slide",
        "settings": [
            {
                "type": "product",
                "id": "product",
                "label": "Product"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subtitle"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "button_label",
                "label": "Button Label"
            }
        ]
    }
  ],
  "presets": [
      {
      "name": "Image With Text Slide"
      }
  ]
}
{% endschema %}