<div class="page-width">
    <h2 class="section-heading">{{ section.settings.heading }}</h2>
    <div class="review-content">
        <div id="looxReviews" data-product-id="{{product.id}}" class="loox-reviews-default"></div>
    </div>
    <!-- {% if section.settings.button_link != blank %}
    <div class="product-review-button">
        <div class="client-photos">
            <p>{{ section.settings.client_photo_label }}</p>
            {%  if section.settings.client_photo != blank %}
                <img src="{{ section.settings.client_photo | image_url: width: 300 }}">
            {% endif %}
        </div>
        <a class="btn" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
    </div>
    {% endif %} -->
</div>

{% schema %}
{
    "name": "Product Review",
    "tag": "section",
    "class": "product-review-section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        }
    ],
    "presets": [
        {
        "name": "Product Review"
        }
    ]
}
{% endschema %}