<div class="testimonials page-width shopify-page-section">
    <h2 class="section-heading">{{ section.settings.heading }}</h2>
    <div class="block-list" id="app">
        {% for block in section.blocks %}
            <div class="item">
                {% if block.settings.image != blank %}
                    <img src="{{ block.settings.image | image_url: width: 500 }}">
                {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
                <div class="personal-review">
                    <h3 class="name">{{ block.settings.name }}</h3>
                    <span class="review_number">{{ block.settings.review_number }}</span>
                    <br>
                    <star-rating :max="5" :current="{{ block.settings.review_range }}"></star-rating>
                    <p class="description">{{ block.settings.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script type="text/x-template" id="star-rating">
    <div class="star-rating">
        <span v-for="n in max">&star;</span>
        <div class="star-rating__current" :style="{width: getRating + '%'}"><span v-for="n in max">&starf;</span></div>
    </div>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
{% schema %}
{
  "name": "Testimonials",
  "tag": "section",
  "class": "section",
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "Heading"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
        "type": "column",
        "name": "Column",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Slide Image"
            },
            {
                "type": "text",
                "id": "name",
                "label": "Name"
            },
            {
                "type": "text",
                "id": "review_number",
                "label": "Review Number"
            },
            {
                "id": "review_range",
                "type": "range",
                "min": 0,
                "max": 5,
                "step": 0.1,
                "label": "Rview Range",
                "default": 5
            },
            {
                "type": "textarea",
                "id": "description",
                "label": "Description"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials"
    }
  ]
}
{% endschema %}