{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="video-column page-width shopify-page-section ">
    <h2 class="section-heading">{{ section.settings.title }}</h2>
    <div class="video-wrap">
        <div class="col-half left-video-wrap">
            <div class="video-content color-{{ section.settings.color_scheme }} gradient">
                <div class="video-section isolate section-{{ section.id }}-padding">
                    <div{% if section.settings.full_width %} class="page-width"{% endif %}>
                    {%- unless section.settings.heading == blank -%}
                        <div class="title-wrapper title-wrapper--no-top-margin">
                        <h2 class="title {{ section.settings.heading_size }}">{{ section.settings.heading }}</h2>
                        </div>
                    {%- endunless -%}
                    </div>
                    <noscript>
                    <div class="video-section__media"
                        {% if section.settings.left_cover_image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.left_cover_image.aspect_ratio | times: 100 }}%;"{% endif %}
                    >
                        <a href="{{ section.settings.left_video_url }}" class="video-section__poster media media--transparent media--landscape{% if section.settings.left_cover_image == blank %} video-section__placeholder{% endif %}">
                        {%- if section.settings.left_cover_image != blank -%}
                            <img
                            srcset="{%- if section.settings.left_cover_image.width >= 375 -%}{{ section.settings.left_cover_image | image_url: width: 375 }} 375w,{%- endif -%}
                                {%- if section.settings.left_cover_image.width >= 750 -%}{{ section.settings.left_cover_image | image_url: width: 750 }} 750w,{%- endif -%}
                                {%- if section.settings.left_cover_image.width >= 1100 -%}{{ section.settings.left_cover_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                                {%- if section.settings.left_cover_image.width >= 1500 -%}{{ section.settings.left_cover_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                                {%- if section.settings.left_cover_image.width >= 1780 -%}{{ section.settings.left_cover_image | image_url: width: 1780 }} 1780w,{%- endif -%}
                                {%- if section.settings.left_cover_image.width >= 2000 -%}{{ section.settings.left_cover_image | image_url: width: 2000 }} 2000w,{%- endif -%}
                                {%- if section.settings.left_cover_image.width >= 3000 -%}{{ section.settings.left_cover_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                                {%- if section.settings.left_cover_image.width >= 3840 -%}{{ section.settings.left_cover_image | image_url: width: 3840 }} 3840w,{%- endif -%}
                                {{ section.settings.left_cover_image | image_url }} {{ section.settings.left_cover_image.width }}w"
                            src="{{ section.settings.left_cover_image | image_url: width: 1920 }}"
                            sizes="{% if section.settings.full_width %}100vw{% else %}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{% endif %}"
                            alt="{{ 'sections.video.load_video' | t: description: section.settings.description | escape }}"
                            loading="lazy"
                            width="{{ section.settings.left_cover_image.width }}"
                            height="{{ section.settings.left_cover_image.height }}"
                            >
                        {%- else -%}
                            {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                        {%- endif -%}
                        </a>
                    </div>
                    </noscript>
                    <deferred-media class="video-section__media deferred-media no-js-hidden gradient global-media-settings{% if section.settings.full_width %} global-media-settings--full-width{% endif %}" data-media-id="{{ section.settings.left_video_url.id }}"
                    {% if section.settings.left_cover_image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.left_cover_image.aspect_ratio | times: 100 }}%;"{% endif %}
                    >
                    <button
                        id="Deferred-Poster-Modal-{{ section.settings.left_video_url.id }}"
                        class="video-section__poster media deferred-media__poster media--landscape"
                        type="button"
                    >
                        {%- if section.settings.left_cover_image != blank -%}
                        <img
                            srcset="{%- if section.settings.left_cover_image.width >= 375 -%}{{ section.settings.left_cover_image | image_url: width: 375 }} 375w,{%- endif -%}
                            {%- if section.settings.left_cover_image.width >= 750 -%}{{ section.settings.left_cover_image | image_url: width: 750 }} 750w,{%- endif -%}
                            {%- if section.settings.left_cover_image.width >= 1100 -%}{{ section.settings.left_cover_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                            {%- if section.settings.left_cover_image.width >= 1500 -%}{{ section.settings.left_cover_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                            {%- if section.settings.left_cover_image.width >= 1780 -%}{{ section.settings.left_cover_image | image_url: width: 1780 }} 1780w,{%- endif -%}
                            {%- if section.settings.left_cover_image.width >= 2000 -%}{{ section.settings.left_cover_image | image_url: width: 2000 }} 2000w,{%- endif -%}
                            {%- if section.settings.left_cover_image.width >= 3000 -%}{{ section.settings.left_cover_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                            {%- if section.settings.left_cover_image.width >= 3840 -%}{{ section.settings.left_cover_image | image_url: width: 3840 }} 3840w,{%- endif -%}
                            {{ section.settings.left_cover_image | image_url }} {{ section.settings.left_cover_image.width }}w"
                            src="{{ section.settings.left_cover_image | image_url: width: 1920 }}"
                            sizes="{% if section.settings.full_width %}100vw{% else %}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{% endif %}"
                            alt="{{ 'sections.video.load_video' | t: description: section.settings.description | escape }}"
                            loading="lazy"
                            width="{{ section.settings.left_cover_image.width }}"
                            height="{{ section.settings.left_cover_image.height }}"
                        >
                        {%- else -%}
                        {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                        {%- endif -%}
                        <span class="deferred-media__poster-button motion-reduce">
                        {%- render 'icon-play' -%}
                        </span>
                    </button>
                    <template>
                        {%- if section.settings.left_video_url.type == 'youtube' -%}
                        <iframe src="https://www.youtube.com/embed/{{ section.settings.left_video_url.id }}?enablejsapi=1" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
                        {%- else -%}
                        <iframe src="https://player.vimeo.com/video/{{ section.settings.left_video_url.id }}" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
                        {%- endif -%}
                    </template>
                    </deferred-media>
                </div>
            </div>
        </div>
        <div class="col-half right-video-wrap">
            <div class="video-content color-{{ section.settings.color_scheme }} gradient">
                <div class="video-section isolate section-{{ section.id }}-padding">
                    <div{% if section.settings.full_width %} class="page-width"{% endif %}>
                    {%- unless section.settings.heading == blank -%}
                        <div class="title-wrapper title-wrapper--no-top-margin">
                        <h2 class="title {{ section.settings.heading_size }}">{{ section.settings.heading }}</h2>
                        </div>
                    {%- endunless -%}
                    </div>
                    <noscript>
                    <div class="video-section__media"
                        {% if section.settings.right_cover_image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.right_cover_image.aspect_ratio | times: 100 }}%;"{% endif %}
                    >
                        <a href="{{ section.settings.right_video_url }}" class="video-section__poster media media--transparent media--landscape{% if section.settings.right_cover_image == blank %} video-section__placeholder{% endif %}">
                        {%- if section.settings.right_cover_image != blank -%}
                            <img
                            srcset="{%- if section.settings.right_cover_image.width >= 375 -%}{{ section.settings.right_cover_image | image_url: width: 375 }} 375w,{%- endif -%}
                                {%- if section.settings.right_cover_image.width >= 750 -%}{{ section.settings.right_cover_image | image_url: width: 750 }} 750w,{%- endif -%}
                                {%- if section.settings.right_cover_image.width >= 1100 -%}{{ section.settings.right_cover_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                                {%- if section.settings.right_cover_image.width >= 1500 -%}{{ section.settings.right_cover_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                                {%- if section.settings.right_cover_image.width >= 1780 -%}{{ section.settings.right_cover_image | image_url: width: 1780 }} 1780w,{%- endif -%}
                                {%- if section.settings.right_cover_image.width >= 2000 -%}{{ section.settings.right_cover_image | image_url: width: 2000 }} 2000w,{%- endif -%}
                                {%- if section.settings.right_cover_image.width >= 3000 -%}{{ section.settings.right_cover_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                                {%- if section.settings.right_cover_image.width >= 3840 -%}{{ section.settings.right_cover_image | image_url: width: 3840 }} 3840w,{%- endif -%}
                                {{ section.settings.right_cover_image | image_url }} {{ section.settings.right_cover_image.width }}w"
                            src="{{ section.settings.right_cover_image | image_url: width: 1920 }}"
                            sizes="{% if section.settings.full_width %}100vw{% else %}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{% endif %}"
                            alt="{{ 'sections.video.load_video' | t: description: section.settings.description | escape }}"
                            loading="lazy"
                            width="{{ section.settings.right_cover_image.width }}"
                            height="{{ section.settings.right_cover_image.height }}"
                            >
                        {%- else -%}
                            {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                        {%- endif -%}
                        </a>
                    </div>
                    </noscript>
                    <deferred-media class="video-section__media deferred-media no-js-hidden gradient global-media-settings{% if section.settings.full_width %} global-media-settings--full-width{% endif %}" data-media-id="{{ section.settings.right_video_url.id }}"
                    {% if section.settings.right_cover_image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.right_cover_image.aspect_ratio | times: 100 }}%;"{% endif %}
                    >
                    <button
                        id="Deferred-Poster-Modal-{{ section.settings.right_video_url.id }}"
                        class="video-section__poster media deferred-media__poster media--landscape"
                        type="button"
                    >
                        {%- if section.settings.right_cover_image != blank -%}
                        <img
                            srcset="{%- if section.settings.right_cover_image.width >= 375 -%}{{ section.settings.right_cover_image | image_url: width: 375 }} 375w,{%- endif -%}
                            {%- if section.settings.right_cover_image.width >= 750 -%}{{ section.settings.right_cover_image | image_url: width: 750 }} 750w,{%- endif -%}
                            {%- if section.settings.right_cover_image.width >= 1100 -%}{{ section.settings.right_cover_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                            {%- if section.settings.right_cover_image.width >= 1500 -%}{{ section.settings.right_cover_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                            {%- if section.settings.right_cover_image.width >= 1780 -%}{{ section.settings.right_cover_image | image_url: width: 1780 }} 1780w,{%- endif -%}
                            {%- if section.settings.right_cover_image.width >= 2000 -%}{{ section.settings.right_cover_image | image_url: width: 2000 }} 2000w,{%- endif -%}
                            {%- if section.settings.right_cover_image.width >= 3000 -%}{{ section.settings.right_cover_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                            {%- if section.settings.right_cover_image.width >= 3840 -%}{{ section.settings.right_cover_image | image_url: width: 3840 }} 3840w,{%- endif -%}
                            {{ section.settings.right_cover_image | image_url }} {{ section.settings.right_cover_image.width }}w"
                            src="{{ section.settings.right_cover_image | image_url: width: 1920 }}"
                            sizes="{% if section.settings.full_width %}100vw{% else %}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{% endif %}"
                            alt="{{ 'sections.video.load_video' | t: description: section.settings.description | escape }}"
                            loading="lazy"
                            width="{{ section.settings.right_cover_image.width }}"
                            height="{{ section.settings.right_cover_image.height }}"
                        >
                        {%- else -%}
                        {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                        {%- endif -%}
                        <span class="deferred-media__poster-button motion-reduce">
                        {%- render 'icon-play' -%}
                        </span>
                    </button>
                    <template>
                        {%- if section.settings.right_video_url.type == 'youtube' -%}
                        <iframe src="https://www.youtube.com/embed/{{ section.settings.right_video_url.id }}?enablejsapi=1" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
                        {%- else -%}
                        <iframe src="https://player.vimeo.com/video/{{ section.settings.right_video_url.id }}" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
                        {%- endif -%}
                    </template>
                    </deferred-media>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
{
  "name": "Video Column",
  "tag": "section",
  "class": "section",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "default": "Title",
        "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "left_cover_image",
      "label": "t:sections.video.settings.cover_image.label"
    },
    {
      "type": "video_url",
      "id": "left_video_url",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "placeholder": "t:sections.video.settings.video_url.placeholder",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
        "type": "image_picker",
        "id": "right_cover_image",
        "label": "t:sections.video.settings.cover_image.label"
      },
      {
        "type": "video_url",
        "id": "right_video_url",
        "accept": [
          "youtube",
          "vimeo"
        ],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
        "label": "t:sections.video.settings.video_url.label",
        "placeholder": "t:sections.video.settings.video_url.placeholder",
        "info": "t:sections.video.settings.video_url.info"
      }
  ],
  "presets": [
    {
      "name": "Video Column"
    }
  ]
}
{% endschema %}
